version: '3.7'
services:
  heimdall:
    image: linuxserver/heimdall
    container_name: heimdall
    hostname: heimdall
    restart: unless-stopped
    ports:
      - "443:443"
    volumes:
      - ../Data/config:/config
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
